:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --text-color: var(--color-black, #000000);
  --page-main-font-family: "Inter", sans-serif;
  --page-main-font-weight: 400;
  --page-accent-font-family: "PressStart2P", fantasy;
  --like-contour-color: var(--text-color, #000000);
  --like-sparks-color: #ff0000;
  --like-main-body-color: none;
  --page-background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
